$breakpoints: (
  'sm': 'screen and (min-width: 500px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

span#judge:after{
  content: "extra small";
  @include mq(sm) {
    content: "small (min-width:500px)";
  }
  @include mq(md) {
    content: "medium (min-width:768px)";
  }
  @include mq(lg) {
    content: "large (min-width: 992px)";
  }
  @include mq(xl) {
    content: "extra large (min-width: 1200px)";
  }
}

div#jxgbox {
  // extra small
  width: 200px;
  height: 200px;
  @include mq(sm) {
    width: 250px;
    height: 250px;
  }
  @include mq(md) {
    width: 500px;
    height: 500px;
   }
  @include mq(lg) {
    width: 600px;
    height: 600px;
  }
  @include mq(xl) {
    width: 800px;
    height: 800px;
  }
}
