$breakpoints: (
  'sm': 'screen and (min-width: 500px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

span#judge:after{
  content: "extra small";
  @include mq(sm) {
    content: "small (min-width:500px)";
  }
  @include mq(md) {
    content: "medium (min-width:768px)";
  }
  @include mq(lg) {
    content: "large (min-width: 992px)";
  }
  @include mq(xl) {
    content: "extra large (min-width: 1200px)";
  }
}

body {
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  // width: calc( 100% - 20px );
}

div#flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: auto;
  @include mq(sm) {
    flex-direction: row;
  }
}

div#jxgbox {
  // extra small
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 250px;
  flex-basis: auto;
  flex-shrink: 0;
  @include mq(sm) {
    width: 250px;
    height: 250px;
  }
  @include mq(md) {
    width: 400px;
    height: 400px;
  }
  @include mq(lg) {
    width: 500px;
    height: 500px;
  }
  @include mq(xl) {
    width: 700px;
    height: 700px;
  }
}

div#value {
  width: 100%;
  margin-top: 15px;
  margin-left: 0px;
  @include mq(sm) {
    margin-top: 0px;
    margin-left: 20px;
  }
}

div.slider {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

input.ab {
  width: 50px;
}